In [ ]:
import pandas as pd

Ingesting the data

In [4]:
#The data is placed in an folder so we load the data through the folder with \
data1 = pd.read_excel("wine-data\winequality-red.xlsx", header=1)
data2 = pd.read_excel("wine-data\winequality-white.xlsx", header=1)

Aggregating the data together into one data file - but first we add a column named type

In [5]:
#Adding the type
data1["type"] = "red"
data2["type"] = "white"

# Merge/concatenate - the ignore_index resets the index numbers
wine = pd.concat([data1, data2], ignore_index=True)

In [7]:
#Shows a random sample, to show that the data is mixed
wine.sample(10)

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality,type
5159,6.6,0.64,0.28,4.40,0.032,19.0,78.0,0.99036,3.11,0.62,12.9,6,white
3147,7.1,0.36,0.24,1.80,0.025,32.0,102.0,0.99030,3.34,0.59,12.8,6,white
149,8.2,0.40,0.44,2.80,0.089,11.0,43.0,0.99750,3.53,0.61,10.5,6,red
772,9.5,0.57,0.27,2.30,0.082,23.0,144.0,0.99782,3.27,0.55,9.4,5,red
5178,7.4,0.25,0.28,7.25,0.028,14.0,78.0,0.99238,2.94,0.37,11.5,7,white
2729,6.9,0.20,0.28,1.20,0.048,36.0,159.0,0.99360,3.19,0.43,9.1,6,white
4757,7.1,0.36,0.37,4.80,0.019,39.0,114.0,0.99036,3.08,0.49,12.7,7,white
1173,7.6,0.36,0.31,1.70,0.079,26.0,65.0,0.99716,3.46,0.62,9.5,6,red
5179,7.5,0.30,0.21,6.55,0.026,33.0,143.0,0.99244,2.92,0.35,11.1,5,white
5849,6.7,0.11,0.26,14.80,0.053,44.0,95.0,0.99676,3.20,0.35,9.8,6,white

Cleaning the data

In [13]:
#We use shape to show the size of the dataset, through the number of observations and how many variables there are
wine.shape

(6497, 13)

In [14]:
#Finding missing values (null) - It shows how many of the different variables has null values
print(wine.isnull().sum())

fixed acidity           0
volatile acidity        0
citric acid             0
residual sugar          0
chlorides               0
free sulfur dioxide     0
total sulfur dioxide    0
density                 0
pH                      0
sulphates               0
alcohol                 0
quality                 0
type                    0
dtype: int64

Since there are no null values, we do not need to drop them

In [16]:
#Shows how many duplicated values there are. It compares all of the columns.
wine.duplicated().sum()

np.int64(1177)

We therefore have 1177 duplicates

In [ ]:
#This shows the first five duplicates.
duplicates = wine[wine.duplicated()]
print(duplicates.head())

In [ ]:
#Dropping the duplicates
wine.drop_duplicates(drop=True, inplace_true)

Checking for damaged values

In [44]:
#Ideas for damaged values:
#Negative values - (wine < 0).sum()
#pH value 7 or bigger for wine, as wine is acid and 7 is neutral - wine[(wine['pH']>6.99)].sum()

Removing the damaged values

The outliers for the "accepted" wine values

In [41]:
def check_min_max(list, expected_range):
    report = []
    for col, (min_val, max_val) in expected_ranges.items():
        count = ((list[col] < min_val) | (list[col] > max_val)).sum()
        report.append({"column": col, "outliers": count})

    report_df = pd.DataFrame(report)
    print(report_df)

In [42]:
#Our expected ranges for red wine
expected_ranges_red = {
    "fixed acidity": (4.6, 15.9),
    "volatile acidity": (0.12, 1.58),
    "citric acid": (0.0, 1.0),
    "residual sugar": (0.9, 15.5),
    "chlorides": (0.012, 0.611),
    "free sulfur dioxide": (1, 72),
    "total sulfur dioxide": (6, 289),
    "density": (0.99007, 1.00369),
    "pH": (2.74, 4.01),
    "sulphates": (0.33, 2.0),
    "alcohol": (8.4, 14.9),
    "quality": (3, 8)
}
red_wine = wine[wine["type"] == "red"]

check_min_max(red_wine, expected_ranges_red)

                  column  outliers
0          fixed acidity         0
1       volatile acidity         0
2            citric acid         0
3         residual sugar         0
4              chlorides         0
5    free sulfur dioxide         0
6   total sulfur dioxide         0
7                density         0
8                     pH         0
9              sulphates         0
10               alcohol         0
11               quality         0

In [43]:
#Our expected ranges for white wine
expected_ranges_white = {
    "fixed acidity": (3.8, 14.2),
    "volatile acidity": (0.08, 1.10),
    "citric acid": (0.0, 1.66),
    "residual sugar": (0.6, 65.8),
    "chlorides": (0.009, 0.346),
    "free sulfur dioxide": (2, 289),
    "total sulfur dioxide": (9, 440),
    "density": (0.98711, 1.03898),
    "pH": (2.72, 3.82),
    "sulphates": (0.22, 1.08),
    "alcohol": (8.0, 14.2),
    "quality": (3, 9)
}

#Right now we are only checking for the values of white wine, so we need to filter on the type of wine
white_wine = wine[wine["type"] == "white"]

check_min_max(white_wine, expected_ranges_white)

                  column  outliers
0          fixed acidity         8
1       volatile acidity        34
2            citric acid         2
3         residual sugar       303
4              chlorides         1
5    free sulfur dioxide        96
6   total sulfur dioxide         7
7                density       390
8                     pH         1
9              sulphates       172
10               alcohol         2
11               quality         5

In [37]:
#Shows the count, mean std...
wine.describe()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
count,6497.000000,6497.000000,6497.000000,6497.000000,6497.000000,6497.000000,6497.000000,6497.000000,6497.000000,6497.000000,6497.000000,6497.000000
mean,7.215307,0.339666,0.318633,5.443235,0.056034,30.525319,115.744574,0.994697,3.218501,0.531268,10.491801,5.818378
std,1.296434,0.164636,0.145318,4.757804,0.035034,17.749400,56.521855,0.002999,0.160787,0.148806,1.192712,0.873255
min,3.800000,0.080000,0.000000,0.600000,0.009000,1.000000,6.000000,0.987110,2.720000,0.220000,8.000000,3.000000
25%,6.400000,0.230000,0.250000,1.800000,0.038000,17.000000,77.000000,0.992340,3.110000,0.430000,9.500000,5.000000
50%,7.000000,0.290000,0.310000,3.000000,0.047000,29.000000,118.000000,0.994890,3.210000,0.510000,10.300000,6.000000
75%,7.700000,0.400000,0.390000,8.100000,0.065000,41.000000,156.000000,0.996990,3.320000,0.600000,11.300000,6.000000
max,15.900000,1.580000,1.660000,65.800000,0.611000,289.000000,440.000000,1.038980,4.010000,2.000000,14.900000,9.000000